.App {
  text-align: center;
  color: blue;
}
.man{
  background-color: rgb(97, 87, 87);
  text-align: center;
  color: blue;
}
.women{
  background-color: rgb(77, 223, 79);
  text-align: center;
  color: rgb(85, 85, 187);
}

.demo{
  background-color: rgb(30, 191, 105);
  font-size: 23px;
  color: white;
}